# You can split this configuration into multiple files
# Create your files separately and then link them to this file like this:
# source = ~/.config/hypr/myColors.conf


env = ELECTRON_OZONE_PLATFORM_HINT,auto

################
### MONITORS ###
################
{{- if eq .chezmoi.hostname "obelix" }}
monitor=desc:Lenovo Group Limited 0x8AC2, preferred, 0x0, 1.9166,
## At home
monitor=desc:Samsung Electric Company LS24D60xU HNAY201650,2560x1440@100,1840x0,1.333,
monitor=desc:Samsung Electric Company LS24D60xU HNAXC01129,2560x1440@100,auto,1.333,transform,1

## Groningen
monitor=desc:Samsung Electric Company LS24D60xU HNAYC00326,2560x1440@100,1840x0,1.333,
monitor=desc:Samsung Electric Company LS24D60xU HNAYC00417,2560x1440@100,auto,1.333,transform,1

#monitor=desc:Philips Consumer Electronics Company Philips UHDTV,3840x2160@100,1840x0,2.4,
## Remote 
#monitor=desc:Philips Consumer Electronics Company Philips UHDTV 0x01010101,3840x2160@30.00000,1840x0,1.666667,
{{- else }}
# Fallback for hosts other than obelix — replace with this machine's outputs
# (run `hyprctl monitors` for the desc: strings), then commit + push.
monitor=,preferred,auto,auto
{{- end }}



cursor {
    no_hardware_cursors = true
}

###################
### MY PROGRAMS ###
###################
$terminal = alacritty -e fish
$fileManager = dolphin
$menu = wofi --show drun


#################
### AUTOSTART ###
#################
exec-once = hyprpm reload -n
exec-once = waybar & hyprpaper & nm-applet
exec-once = dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP
exec-once = dunst
exec-once = wlsunset -l=5321917 -L=6.5667

#############################
### ENVIRONMENT VARIABLES ###
#############################
env = XCURSOR_SIZE,24
env = XDG_SESSION_TYPE,wayland
env = HYPRCURSOR_SIZE,24
env = GTK_THEME,Nord
env = QT_QPA_PLATFORM,wayland
env = ELECTRON_ENABLE_WAYLAND,1

# #######################################################################################
# AUTOGENERATED HYPR CONFIG.
# PLEASE USE THE CONFIG PROVIDED IN THE GIT REPO /examples/hypr.conf AND EDIT IT,
# OR EDIT THIS ONE ACCORDING TO THE WIKI INSTRUCTIONS.
# #######################################################################################

# This is an example Hyprland config file.
# Refer to the wiki for more information.
# https://wiki.hyprland.org/Configuring/Configuring-Hyprland/

# Please note not all available settings / options are set here.
# For a full list, see the wiki


#####################
### LOOK AND FEEL ###
#####################
general {
    gaps_in = 4
    gaps_out = 4
    border_size = 2

    col.active_border = rgba(7e9cd8ee) rgba(e46876ee) 45deg
    col.inactive_border = rgba(595959aa)

    resize_on_border = false
    allow_tearing = false
    layout = hy3
}

plugin {
    hy3 {
        tabs {
                  height = 8
                  padding = 4
                  render_text = false
                  border_width = 0
                  col.active = rgba(7e9cd8ee)
        }

        autotile {
            enable = true
            trigger_width = 800
            trigger_height = 500
        }
    }
}

decoration {
    rounding = 10
    active_opacity = 1.0
    inactive_opacity = 1.0

    blur {
        enabled = true
        size = 3
        passes = 1
        vibrancy = 0.1696
    }
}

animations {
    enabled = true

    bezier = myBezier, 0.05, 0.9, 0.1, 1.05

    animation = windows, 1, 7, myBezier
    animation = windowsOut, 1, 7, default, popin 80%
    animation = border, 1, 10, default
    animation = borderangle, 1, 8, default
    animation = fade, 1, 7, default
    animation = workspaces, 1, 6, default
}

master {
    new_status = master
}

misc {
    force_default_wallpaper = 1
    disable_hyprland_logo = false
}


#############
### INPUT ###
#############

# Brightness up (usually XF86MonBrightnessUp)
bind=,XF86MonBrightnessUp,exec,brillo -A 5
# Brightness down (usually XF86MonBrightnessDown)
bind=,XF86MonBrightnessDown,exec,brillo -U 5


# https://wiki.hyprland.org/Configuring/Variables/#input
input {
    kb_layout = us
    kb_variant =
    kb_model =
    kb_options = compose:ralt
    kb_rules =

    follow_mouse = 1

    sensitivity = 0 # -1.0 - 1.0, 0 means no modification.

    touchpad {
        natural_scroll = true 
    }


    # Fixes the keyboard layout for mac os keyboard
    #kb_options = ctrl:nocaps,altwin:swap_alt_win,compose:ralt
    kb_options = ctrl:nocaps,compose:ralt
}


gesture = 4, horizontal, workspace


device {
    name = epic-mouse-v1
    sensitivity = -0.4
}

group {
    focus_removed_window = false
}


####################
### KEYBINDINGSS ###
####################

$mod = Alt # Sets "Alt" key as main modifier

bind = $mod, P, exec, grim -g "$(slurp)" - | swappy -f - 

bind = $mod, return, exec, $terminal
bind = $mod  SHIFT, Q, killactive,
bind = $mod, M, exit,
bind = $mod, D, exec, $menu 
bind = $mod SHIFT, V, togglefloating,
bind = $mod, f, fullscreen

# Move focus with mod + arrow keys
bind = $mod, j, hy3:movefocus, l
bind = $mod, k, hy3:movefocus, d
bind = $mod, l, hy3:movefocus, u
bind = $mod, semicolon, hy3:movefocus, right 

bind = $mod, left, hy3:movefocus, l
bind = $mod, down, hy3:movefocus, d
bind = $mod, up, hy3:movefocus, u
bind = $mod, right, hy3:movefocus, right 

# Move windows i3 style
bind = $mod SHIFT, h, hy3:movewindow, l
bind = $mod SHIFT, l, hy3:movewindow, r
bind = $mod SHIFT, k, hy3:movewindow, u
bind = $mod SHIFT, j, hy3:movewindow, d

bind = $mod SHIFT, left, hy3:movewindow, l
bind = $mod SHIFT, right, hy3:movewindow, r
bind = $mod SHIFT, up, hy3:movewindow, u
bind = $mod SHIFT, down, hy3:movewindow, d


bind = $mod, t, hy3:changegroup, tab
bind = $mod, v, hy3:makegroup, v
bind = $mod, h, hy3:makegroup, h
bind = $mod, e, hy3:changegroup, toggletab

bind = SUPER, l, resizeactive, 100 0
bind = SUPER, h, resizeactive, -100 0
bind = SUPER, k, resizeactive, 0 -100
bind = SUPER, j, resizeactive, 0 100


# Switch workspaces with mod + [0-9]
bind = $mod, 1, workspace, 1
bind = $mod, 2, workspace, 2
bind = $mod, 3, workspace, 3
bind = $mod, 4, workspace, 4
bind = $mod, 5, workspace, 5
bind = $mod, 6, workspace, 6
bind = $mod, 7, workspace, 7
bind = $mod, 8, workspace, 8
bind = $mod, 9, workspace, 9
bind = $mod, 0, workspace, 10

# Move active window to a workspace with mod + SHIFT + [0-9]
bind = $mod SHIFT, 1, movetoworkspace, 1
bind = $mod SHIFT, 2, movetoworkspace, 2
bind = $mod SHIFT, 3, movetoworkspace, 3
bind = $mod SHIFT, 4, movetoworkspace, 4
bind = $mod SHIFT, 5, movetoworkspace, 5
bind = $mod SHIFT, 6, movetoworkspace, 6
bind = $mod SHIFT, 7, movetoworkspace, 7
bind = $mod SHIFT, 8, movetoworkspace, 8
bind = $mod SHIFT, 9, movetoworkspace, 9
bind = $mod SHIFT, 0, movetoworkspace, 10


# Scroll through existing workspaces with mod + scroll
bind = $mod, mouse_down, workspace, e+1
bind = $mod, mouse_up, workspace, e-1

# Move/resize windows with mod + LMB/RMB and dragging
bindm = $mod, mouse:272, movewindow
bindm = $mod, r, resizewindow


##############################
### WINDOWS AND WORKSPACES ###
##############################


workspace = 1, layoutopt:orientation:left
workspace = 2, layoutopt:orientation:left
workspace = 3, layoutopt:orientation:left
workspace = 4, layoutopt:orientation:left
workspace = 5, layoutopt:orientation:left
workspace = 6, layoutopt:orientation:left
workspace = 7, layoutopt:orientation:left
workspace = 8, layoutopt:orientation:left
workspace = 9, layoutopt:orientation:left

